<ion-content  style="margin-top: 50px; ">
  <img style="height: 15%; width: 100%; object-fit: cover; background-color: yellow;" >

  <div>
    <ion-row style="padding-top: 10px;">
      <ion-col size="10"  >
        <ion-card-subtitle  style="font-size:20px; margin-top: 25px; margin-left: 240px; color:rgb(0, 0, 0);">
          License
        </ion-card-subtitle>
      </ion-col>
      <ion-col>
        <div >
          <img style="height: 55px"src="assets/images/icons/driver-license.png">
        </div>
      </ion-col>
    </ion-row>
  </div>

 <div class="col">
 </div><br>
 
 <div id="e45_203">
  <div style="margin-left: 20px;">
    My License
  </div><br>
  <ion-card-content>
    <ion-card-subtitle>
      200801009735 (840310-D)
    </ion-card-subtitle>
    <ion-card-subtitle style="color: #934B23; font-size: 20px; margin-bottom: 5%;">
      Prima Maju Sdn Bhd
    </ion-card-subtitle>
    <ion-card-subtitle>
      License number: 942593
    </ion-card-subtitle>
    <ion-card-subtitle>
      Type of License: Business Premise
    </ion-card-subtitle>
    <ion-card-subtitle>
      Expired Date: 31/10/2020
    </ion-card-subtitle>
  </ion-card-content>
</div>

<ion-button class="license-button" style="position: absolute; left: 10%; bottom: 20%; width: 80%;" expand="block" share="round" (click)="goHome()">Return Home</ion-button>
</ion-content>

