<ion-content  style="margin-top: 50px; ">
  <img style="height: 15%; width: 100%; object-fit: cover; background-color: yellow;" >

  <div>
    <ion-row style="padding-top: 10px;">
      <ion-col size="10"  >
        <ion-card-subtitle  style="font-size:20px; margin-top: 25px; margin-left: 240px; color:rgb(0, 0, 0);">
          License
        </ion-card-subtitle>
      </ion-col>
      <ion-col>
        <div >
          <img style="height: 55px"src="assets/images/icons/driver-license.png">
        </div>
      </ion-col>
    </ion-row>
  </div>

 <div class="col">
 </div><br>
 

  <div style="margin-left: 20px;">
    My License
  </div><br>

<div id="e45_203-mini" style="margin-top: 0px;">
  <ion-card-content>
    <ion-card-subtitle style="font-size: large">
      200801009735
    </ion-card-subtitle>
    <ion-row>
      <ion-col size="7">
        <ion-card-subtitle>
          20/09/2020
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button class="license-button" expand="block" size="small" share="round" (click)="goDetails()">View</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</div>
  
  

</ion-content>
