<ion-content [fullscreen]="true">
  <div style="background-color: #F44336; height: 25%;"></div>
  <div class="menu-module">
    <ion-row>
      <ion-row>
        <p class="menu-title-module">Summon</p>
        <div class="menu-circle-module center summon">
          <img style="height: 40px" src="assets/images/icons/policeman.png">
        </div>
      </ion-row>
    </ion-row>
    </div>

    <div>
      <ion-item>
        <ion-col>
          <ion-row style="margin-top:60px;">
            <ion-button class="summon-button" style="margin: auto; width: 240px; height:60px;" expand="block" share="round" (click)="goSummon()">Summons</ion-button>
          </ion-row>
        </ion-col>
      </ion-item>
    </div>

    <div>
      <ion-item>
        <ion-col>
          <ion-row style="margin-top: 60px;">
            <ion-button class="summon-button" style="margin: auto; width: 240px; height:60px;" expand="block" share="round" (click)="goCompound()">Compound</ion-button>
          </ion-row>
        </ion-col>
      </ion-item>
    </div>

    
</ion-content>
