ion-avatar { 
    width: 100px;  
    height: 100px;  
    margin: auto;
}

ion-icon {
    font-size: 80px;
}

    
.input-form-account {
    height: 70%;
    border: 2px solid rgba(24, 79, 121, 0.22);
    border-radius: 10px;
    position: relative;
    margin: auto;
    margin-top: 5%;
    --padding-start: 10px;
}
