<ion-content  style="margin-top: 50px; ">
  <img style="height: 15%; width: 100%; object-fit: cover; background-color: darkorange;" >

  <div>
    <ion-row style="padding-top: 10px;">
      <ion-col size="10"  >
        <ion-card-subtitle  style="font-size:20px; margin-top: 25px; margin-left: 240px; color:rgb(0, 0, 0);">
          Parking
        </ion-card-subtitle>
      </ion-col>
      <ion-col>
        <div >
          <img style="height: 45px" src="assets/images/icons/parking.png">
        </div>
      </ion-col>
    </ion-row>
  </div>

 <div class="col">
 </div>

 <div id="e45_203">
  <ion-card-content>
    <ion-card-subtitle>
      Parking History
    </ion-card-subtitle>
    <ion-card-subtitle style="color: #934B23; font-size: 20px; margin-bottom: 5%;">
      LG5555
    </ion-card-subtitle>
    <ion-card-subtitle>
      <ion-icon name="location-outline"></ion-icon> <span style="padding-left: 10px;">Pantai Layang-Layang</span>
    </ion-card-subtitle>
    <ion-card-subtitle>
      <ion-icon name="calendar-outline"></ion-icon> <span style="padding-left: 10px;">16/09/2020 - 16/10/2020 </span>
    </ion-card-subtitle>
    <ion-card-subtitle>
      <ion-icon name="time-outline"></ion-icon> <span style="padding-left: 10px;">10:00am - 5:50pm</span>
    </ion-card-subtitle>
    <ion-card-subtitle>
      Total: RM30
    </ion-card-subtitle>
  </ion-card-content>
</div>
<ion-button class="parking-button" style="position: absolute; left: 10%; bottom: 20%; width: 80%;" expand="block" share="round" (click)="goHome()">Return Home</ion-button>
</ion-content>







