<ion-content [fullscreen]="true">
  <img style="height: 25%; width: 100%; object-fit: cover;" src="assets/images/laju.png">
</ion-content>
<div class="menu-home">
  <div id="e45_203-mini">
    <ion-card-content class="footer-account">
      <ion-card-subtitle style="color: #125285; font-size: 20px;">
        Labuan Info
      </ion-card-subtitle>
      <ion-card-subtitle>
        Jaga jarak fizikal paling kurang 1 meter. Risiko jangkitan COVID-19 lebih tinggi apabila seseorang batuk atau bersin.
      </ion-card-subtitle>
    </ion-card-content>
  </div>

  <div id="e45_203-mini">
    <ion-card-content>
      <ion-card-subtitle style="color: #125285; font-size: 20px;">
        Labuan Info
      </ion-card-subtitle>
      <ion-card-subtitle>
        Elak bersentuhan termasuk melagakan anggota badan ketika bersua. Hanya letak tangan di dada tanda hormat.
      </ion-card-subtitle>
    </ion-card-content>
  </div>
</div>