<ion-content [fullscreen]="true">
  <div style="background-color: #FFEB3B; height: 25%;"></div>
</ion-content>
<div class="menu-module">
<ion-row>
  <ion-row>
    <p class="menu-title-module">License</p>
    <div class="menu-circle-module center license">
      <img style="height: 40px" src="assets/images/icons/driver-license.png">
    </div>
  </ion-row>
</ion-row>
<div *ngIf="type == true">
  <ion-row style="margin-top: 70px;">
    <div (click)="goCheck()" class="menu-card">
      <div class="ion-text-center menu-card-title">Business Premise License</div>
    </div>
    <div (click)="goCheck()" class="menu-card">
      <div class="ion-text-center menu-card-title">Advertising License</div>
    </div>
    <div (click)="goCheck()" class="menu-card">
      <div class="ion-text-center menu-card-title">Alcoholic Beverage License</div>
    </div>
    <div (click)="goCheck()" class="menu-card">
      <div class="ion-text-center menu-card-title">Money Lender License</div>
    </div>
    <div (click)="goCheck()" class="menu-card">
      <div class="ion-text-center menu-card-title">Oil Stock License</div>
    </div>
  </ion-row>
</div>
<div *ngIf="message == true">
  <div style="margin-top: 80px" id="e45_203">
    <ion-card-content>
      <ion-card-subtitle>
        200801009735 (840310-D)
      </ion-card-subtitle>
      <ion-card-subtitle style="color: #FBC02D; font-size: 20px; margin-bottom: 5%;">
        Prima Maju Sdn Bhd
      </ion-card-subtitle>
      <ion-card-subtitle>
        License number: 942593
      </ion-card-subtitle>
      <ion-card-subtitle>
        Type of License: Business Premise
      </ion-card-subtitle>
      <ion-card-subtitle>
        Expired Date: 31/10/2020
      </ion-card-subtitle>
    </ion-card-content>
  </div>
  <ion-row style="width: 80%; margin: auto; position: absolute; left: 35px; top: 360px;">
    <ion-col>
      <ion-button class="license-button" style="margin: auto; margin-top: 10px" expand="block" share="round" (click)="goSubmit()">Back</ion-button>
    </ion-col>
  </ion-row>
</div>
<div *ngIf="view == true">
  <div style="margin-top: 80px" id="e45_203">
    <ion-card-content>
      <ion-card-subtitle style="font-style: normal;">
        Booking Status
      </ion-card-subtitle>
      <ion-card-subtitle style="font-size: 20px;">
        Dewan Serbaguna Perbadanan Labuan
      </ion-card-subtitle>
      <ion-row>
        <ion-col size="7">
          <ion-card-subtitle style="color: #FBC02D; font-size: 20px;">
            Approved
          </ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-card-subtitle style="font-style: normal;">
        31/09/2020 9:00am
      </ion-card-subtitle>
    </ion-card-content>
  </div>
  <ion-row style="width: 80%; margin: auto; position: absolute; left: 35px; top: 420px;">
    <ion-col>
      <ion-button class="license-button" style="margin: auto;" expand="block" share="round" (click)="goBack()">Back</ion-button>
    </ion-col>
  </ion-row>
</div>
</div>