<ion-content  style="margin-top: 50px; ">
  <img style="height: 15%; width: 100%; object-fit: cover; background-color: yellow;" >

  <div>
    <ion-row style="padding-top: 10px;">
      <ion-col size="10"  >
        <ion-card-subtitle  style="font-size:20px; margin-top: 25px; margin-left: 240px; color:rgb(0, 0, 0);">
          License
        </ion-card-subtitle>
      </ion-col>
      <ion-col>
        <div >
          <img style="height: 55px"src="assets/images/icons/driver-license.png">
        </div>
      </ion-col>
    </ion-row>
  </div>

 <div class="col">
 </div>
 
  <div (click)="goBusiness()" id="outer-border-menu">
    <div id="inner-border-license"></div>
    <ion-row>
      <ion-col>
        <ion-card-title id="menu-title-menu" class="ion-text-center">Business Primese License</ion-card-title>
      </ion-col>
    </ion-row>
  </div>
  
  <div (click)="goMenu()" id="outer-border-menu">
    <div id="inner-border-license"></div>
    <ion-row>
      <ion-col>
        <ion-card-title id="menu-title-menu" class="ion-text-center">Advertising License</ion-card-title>
      </ion-col>
    </ion-row>
  </div>
  
  <div (click)="goDetailsSaham()" id="outer-border-menu">
    <div id="inner-border-license"></div>
    <ion-row>
      <ion-col>
        <ion-card-title id="menu-title-menu" class="ion-text-center">Alcoholic Beverage License</ion-card-title>
      </ion-col>
    </ion-row>
  </div>

  <div (click)="goDetailsSaham()" id="outer-border-menu">
    <div id="inner-border-license"></div>
    <ion-row>
      <ion-col>
        <ion-card-title id="menu-title-menu" class="ion-text-center">Money Lender License</ion-card-title>
      </ion-col>
    </ion-row>
  </div>

  <div (click)="goDetailsSaham()" id="outer-border-menu">
    <div id="inner-border-license"></div>
    <ion-row>
      <ion-col>
        <ion-card-title id="menu-title-menu" class="ion-text-center">Oil Stock License</ion-card-title>
      </ion-col>
    </ion-row>
  </div>

  <div (click)="goDetailsSaham()" id="outer-border-menu">
    <div id="inner-border-license"></div>
    <ion-row>
      <ion-col>
        <ion-card-title id="menu-title-menu" class="ion-text-center">Hawker’s/ Market Temporary License</ion-card-title>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
