/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Header Styling
.header-home {
    --background: #125285;
    --color: #ffffff;
}

// Content Styling
// ion-content {
//     --background: #f0f0f0;
// }

.menu-home {
    background: white;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 80%;
    margin-top: -35px;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    bottom: 0px;
    padding-top: 35px;
}

.menu-module {
    background: white;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 85%;
    margin-top: -35px;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
    bottom: 0px;
    padding-top: 15px;
}

.menu-title-module {
    display: block;
    position: absolute;
    left: 20px;
    top: 30px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 25px;
    color: #616161;
    padding-top: 5px;
}

.input-form {
    width: 80%;
    height: 9%;
    border: 2px solid rgba(24, 79, 121, 0.22);
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    --padding-start: 10px;
}

#e45_203 { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    border:2px solid rgba(161.9117134809494, 171.8482106924057, 177.43749797344208, 1);
    width:80%;
    // height:55%;
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#e45_203-mini { 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    border:2px solid rgba(161.9117134809494, 171.8482106924057, 177.43749797344208, 1);
    width:80%;
    border-radius: 15px;
    margin: auto;
    margin-top: 5%;
}

.menu-card {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    background: #C8E6C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 15px;
    margin-top: 15px;
}

.menu-card-title {
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    color: #616161;
}

// Variable Styling
.shadow {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.55);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Icon Styling
.menu-circle-home {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.menu-circle-home img {
    display: block;
    margin: 0 auto;
}

.menu-circle-module {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 10px;
}

.menu-circle-module img {
    display: block;
    margin: 0 auto;
}

// Color styling
.parking {
    background-color: #FF9800;
}

.license {
    background-color: #FFEB3B;
}

.summon {
    background-color: #F44336;
}

.cukai {
    background-color: #E91E63;
}

.zakat {
    background-color: #4CAF50;
}

.ferry {
    background-color: #00BCD4;
}

.hall {
    background-color: #9C27B0;
}

.complaint {
    background-color: #9E9E9E;
}

#e45_203-mini { 
    box-shadow:0px 4px 4px rgba(48, 47, 47, 0.25);
    background-color:rgba(255, 255, 255, 1);
    border:2px solid rgba(161.9117134809494, 171.8482106924057, 177.43749797344208, 1);
    width:80%;
    // height:55%;
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
    // padding-top: 10%;
    // padding-bottom: 10%;
}

#outer-border { 
    position:relative;
    opacity:1;
    margin: auto;
    margin-top: 5%;
    width:80%;
    height:90px;
}

#outer-border-menu { 
    position:relative;
    opacity:1;
    margin: auto;
    margin-top: 5%;
    width:90%;
    height:70px;
}

#inner-border { 
    box-shadow:0px 4px 4px rgba(23.999998569488525, 79.00001049041748, 121.00000038743019, 0.41999998688697815);
    background-color:rgba(24.000000469386578, 79.00000289082527, 121.00000038743019, 1);
    opacity:1;
    width:100%;
    height:90px;
    position:absolute;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

#inner-border-parking { 
    box-shadow:0px 4px 4px #476e3a;
    background-color: darkorange;
    opacity:1;
    width:100%;
    height:60px;
    position:absolute;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

#inner-border-license { 
    box-shadow:0px 4px 4px #476e3a;
    background-color: yellow;
    opacity:1;
    width:100%;
    height:60px;
    position:absolute;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}

#menu-title-menu {
    margin-top: 15px;
    font-size: 20px;
    font-style: bold;
    color: rgb(0, 0, 0);
}

.col{
   border: 1px solid rgb(223, 223, 223);
   width: 365px;
   margin-left: 20px;
   margin-right: 20px;
}

.license-button {
    --background: #934B23 !important;
    --background-activated: #602100;
}

#e45_203-parking{ 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(255, 255, 255, 1);
    border:2px solid rgba(161.9117134809494, 171.8482106924057, 177.43749797344208, 1);
    width:80%;
    height:25%;
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.parking-button {
    --background: #DD3F02 !important;
    --background-activated: #a30000;
}

.parking-button-dark {
    --background: #a30000 !important;
    --background-activated: #DD3F02;
}

// Button Styling
.account-button {
    --background: #125285 !important;
    --background-activated: #1A2A3F;
}

.complaint-button {
    --background: #607D8B !important;
    --background-activated: #455A64;
}

.public-button {
    --background: #9C27B0 !important;
    --background-activated: #7B1FA2;
}

.ferry-button {
    --background: #00BCD4 !important;
    --background-activated: #00796B;
}

.zakat-button {
    --background: #4CAF50 !important;
    --background-activated: #476e3a;
}

.cukai-button {
    --background: #FF4081 !important;
    --background-activated: #C2185B;
}

.summon-button {
    --background: #e3001c !important;
    --background-activated: #a80000;
}

.license-button {
    --background: #FBC02D !important;
    --background-activated: #CDDC39;
}

.parking-button {
    --background: #ff9800 !important;
    --background-activated: #F57C00;
}