/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Header Styling
.header-home {
    --background: #125285;
    --color: #ffffff;
}

// Content Styling
ion-content {
    --background: #f0f0f0;
}

// Variable Styling
.shadow {
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.55);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Color styling
.parking {
    background-color: #FF9800;
}

.license {
    background-color: #FFEB3B;
}

.summon {
    background-color: #F44336;
}

.cukai {
    background-color: #E91E63;
}

.zakat {
    background-color: #4CAF50;
}

.ferry {
    background-color: #00BCD4;
}

.hall {
    background-color: #9C27B0;
}

.complaint {
    background-color: #9E9E9E;
}