<ion-content  style="margin-top: 50px; ">
  <img style="height: 15%; width: 100%; object-fit: cover; background-color: darkorange;" >

  <div>
    <ion-row style="padding-top: 10px;">
      <ion-col size="10"  >
        <ion-card-subtitle  style="font-size:20px; margin-top: 25px; margin-left: 240px; color:rgb(0, 0, 0);">
          Parking
        </ion-card-subtitle>
      </ion-col>
      <ion-col>
        <div >
          <img style="height: 45px" src="assets/images/icons/parking.png">
        </div>
      </ion-col>
    </ion-row>
  </div>

 <div class="col">
 </div>

 <div id="e45_203">
  <ion-card-content>
    <ion-card-subtitle style="font-style: normal;">
      Payment Completed
    </ion-card-subtitle>
    <ion-card-subtitle style="font-size: 20px;">
      Labuan Airports
    </ion-card-subtitle>
    <ion-row>
      <ion-col size="7">
        <ion-card-subtitle style="color: #DD3F02; font-size: 20px;">
          RM30
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-card-subtitle style="font-style: normal;">
      31/09/2020
    </ion-card-subtitle>
  </ion-card-content>
</div>
<ion-button class="parking-button" style="position: absolute; left: 10%; bottom: 20%; width: 80%;" expand="block" share="round" (click)="goHome()">Return Home</ion-button>
</ion-content>







