<ion-content [fullscreen]="true">
  <div style="background-color: #9C27B0; height: 25%;"></div>
</ion-content>
<div class="menu-module">
<ion-row>
  <ion-row>
    <p class="menu-title-module">Hall</p>
    <div class="menu-circle-module center hall">
      <img style="height: 40px" src="assets/images/icons/hall.png">
    </div>
  </ion-row>
</ion-row>
<div *ngIf="type == true">
  <ion-row>
    <ion-select style="top: 80px" class="input-form" value="Perbadanan" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="Perbadanan">Dewan Perbadanan</ion-select-option>
      <ion-select-option value="Taman">Dewan Taman Perumahan</ion-select-option>
    </ion-select>
    <ion-select style="top: 90px" class="input-form" value="Majlis" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="Majlis">Majlis</ion-select-option>
      <ion-select-option value="Program">Program</ion-select-option>
      <ion-select-option value="Karnival">Karnival</ion-select-option>
    </ion-select>
    <ion-select style="top: 100px" class="input-form" value="Berhawa Dingin" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="Berhawa Dingin">Berhawa Dingin</ion-select-option>
      <ion-select-option value="Tidak Berhawa Dingin">Tidak Berhawa Dingin</ion-select-option>
    </ion-select>
  </ion-row>
  <ion-row style="width: 80%; margin: auto; position: absolute; left: 35px; top: 350px;">
    <ion-col>
      <ion-button class="public-button" style="margin: auto;" expand="block" share="round" (click)="goCheck()">Continue</ion-button>
      <ion-button class="public-button" style="margin: auto; margin-top: 10px" expand="block" share="round" (click)="goView()">View Booking</ion-button>
    </ion-col>
  </ion-row>
</div>
<div *ngIf="message == true">
  <div style="margin-top: 80px" id="e45_203">
    <ion-card-content>
      <ion-card-subtitle style="font-size: 20px;">
        Dewan Serbaguna Perbadanan Labuan
      </ion-card-subtitle>
      <ion-card-subtitle>
        Sabtu 9:00am
      </ion-card-subtitle>
      <ion-card-subtitle>
        Penyewa - Badan Kerajaan
      </ion-card-subtitle>
      <ion-row>
        <ion-col size="7">
          <ion-card-subtitle style="color: #9C27B0; font-size: 20px;">
            RM500
          </ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </div>
  <ion-row style="width: 80%; margin: auto; position: absolute; left: 35px; top: 420px;">
    <ion-col>
      <ion-button class="public-button" style="margin: auto;" expand="block" share="round" (click)="goSubmit()">Back</ion-button>
    </ion-col>
  </ion-row>
</div>
<div *ngIf="view == true">
  <div style="margin-top: 80px" id="e45_203">
    <ion-card-content>
      <ion-card-subtitle style="font-style: normal;">
        Booking Status
      </ion-card-subtitle>
      <ion-card-subtitle style="font-size: 20px;">
        Dewan Serbaguna Perbadanan Labuan
      </ion-card-subtitle>
      <ion-row>
        <ion-col size="7">
          <ion-card-subtitle style="color: #9C27B0; font-size: 20px;">
            Approved
          </ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-card-subtitle style="font-style: normal;">
        31/09/2020 9:00am
      </ion-card-subtitle>
    </ion-card-content>
  </div>
  <ion-row style="width: 80%; margin: auto; position: absolute; left: 35px; top: 420px;">
    <ion-col>
      <ion-button class="public-button" style="margin: auto;" expand="block" share="round" (click)="goBack()">Back</ion-button>
    </ion-col>
  </ion-row>
</div>
</div>

