<ion-content  style="margin-top: 50px; ">
  <img style="height: 15%; width: 100%; object-fit: cover; background-color: darkorange;" >

  <div>
    <ion-row style="padding-top: 10px;">
      <ion-col size="10"  >
        <ion-card-subtitle  style="font-size:20px; margin-top: 25px; margin-left: 240px; color:rgb(0, 0, 0);">
          Parking
        </ion-card-subtitle>
      </ion-col>
      <ion-col>
        <div >
          <img style="height: 45px" src="assets/images/icons/parking.png">
        </div>
      </ion-col>
    </ion-row>
  </div>

 <div class="col">
 </div>

  <div id="e45_203-parking;  padding-top:5px">
    <ion-card-content>
      <ion-card-subtitle>
        Parking Status
      </ion-card-subtitle>
      <ion-card-subtitle style="color: #934B23; font-size: 20px; margin-bottom: 5%;">
        Plate No: LG5555
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="location-outline"></ion-icon> <span style="padding-left: 10px;">Date : 1/10/2020</span>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="calendar-outline"></ion-icon> <span style="padding-left: 10px;">Time : 9.00 am</span>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="time-outline"></ion-icon> <span style="padding-left: 10px;">Hour: 8 Hours</span>
      </ion-card-subtitle>
    </ion-card-content>
  </div>

  <div (click)="goRegister()" id="outer-border-menu">
    <div id="inner-border-parking"></div>
    <ion-row>
      <ion-col>
        <ion-card-title id="menu-title-menu" class="ion-text-center">Parking</ion-card-title>
      </ion-col>
    </ion-row>
  </div>
  
  <div (click)="goVehicle()" id="outer-border-menu">
    <div id="inner-border-parking"></div>
    <ion-row>
      <ion-col>
        <ion-card-title id="menu-title-menu" class="ion-text-center">Vehicles</ion-card-title>
      </ion-col>
    </ion-row>
  </div>
  
  <div (click)="goReceipt()" id="outer-border-menu">
    <div id="inner-border-parking"></div>
    <ion-row>
      <ion-col>
        <ion-card-title id="menu-title-menu" class="ion-text-center">Receipt</ion-card-title>
      </ion-col>
    </ion-row>
  </div>
  
</ion-content>







