.menu-card {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    background: #FF9800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 15px;
    margin-top: 15px;
}

.menu-border {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    display: block;
    background: #FCFCFF;
    border: 2px solid #FF9800;
    border-radius: 10px;
}